.top,h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: rgba(154, 235, 66, 0.815);
    padding: 20px;
    border-collapse: collapse;
    font-size: large;
    margin: 1px;
    }

.top{
    font-size: smaller;
}

.submit:hover{
    color: rgba(33, 70, 4, 0.815);
    background-color: rgb(141, 145, 145);
}
.submit{
    color: rgb(145, 243, 40);
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    cursor: pointer;
    border: none;
    width: 100%;
    
}


h2{
    color: black;
    background-color: rgb(220, 222, 222);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50;
    font-style: normal;
    padding: 10px;
    border-radius: 7px;
    margin: 1px;
    border-collapse: collapse;
    font-size: large;
}
*{
    box-sizing: 1px;
    padding: 5%;
    margin: 10px;
}

input[type="text"],
input[type="phone_number"],
input[type="email"],.subject{
       width: 90%;
       border: 2px solid ;
       padding: 17px;
       margin: 5px;
}

